.btn {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.btn:hover {
    -fx-background-color: #555555;
    -fx-cursor: HAND;
}

.btn:pressed {
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}

#btn_delete {
    -fx-max-width: 24px;
    -fx-background-color: white;
    -fx-background-image: url("../images/trashcan_0.png");
    -fx-background-repeat: no-repeat;
}

#btn_delete:hover {
    -fx-background-color: lightgrey;
    -fx-background-image: url("../images/trashcan_1.png");
    -fx-cursor: HAND;
}

#btn_delete:pressed {
    -fx-background-color: red;
}

#tf_path {
    -fx-max-width: 200px;
}

#tf_label {
    -fx-min-height: 24px;
}

#menubar {
    -fx-background-color: black;
}

#menu_file,
#menu_edit,
#menu_help {
    -fx-background-color: black;
}

#menu_file:hover,
#menu_edit:hover,
#menu_help:hover,
.mi:hover,
.mi:focused {
    -fx-background-color: #555555;
    -fx-cursor: HAND;
}

#canvas {
    visibility: true;
}

.radio, #lb_label {
    -fx-font-weight: bold;
}

#err_message {
    visibility: false;
    -fx-wrap-text: true;
    -fx-max-width: 196px;
    -fx-text-fill: red;
    -fx-alignment: center;
}