.btn {
    -fx-background-color: black;
}

.btn:hover {
    -fx-background-color: #555555;
}

.btn:pressed {
    -fx-translate-x: 2px;
    -fx-translate-y: 2px;
}

#err_message {
    visibility: false;
    -fx-wrap-text: true;
    -fx-max-width: 196px;
}

#menubar {
    -fx-background-color: black;
}

#menu_file,
#menu_edit,
#menu_help {
    -fx-background-color: black;
}

#menu_file:hover,
#menu_edit:hover,
#menu_help:hover,
#mi_load:hover,
#mi_load:focused,
#mi_exit:hover,
#mi_exit:focused,
#mi_about:hover,
#mi_about:focused {
    -fx-background-color: #555555;
    -fx-cursor: HAND;
}