.btn {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.btn:hover {
    -fx-background-color: #555555;
    -fx-text-fill: white;
}

#err_message {
    visibility: false;
    -fx-wrap-text: true;
    -fx-max-width: 196px;
}

